@import '../../styles/theme.less';

.tbox-icon-button {
  padding: 2.4px 0;
  height: 32px;
  min-width: 32px;
  font-size: 16px;
  background-color: transparent;
  border-radius: 4px;
  border-style: none;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
  &.tbox-icon-button-primary {
    color: @primary-color;
    &:hover {
      background-color: @primary-alpha;
    }
  }
  &.disabled {
    color: @gray-5;
    background-color: transparent;
    &:hover {
      cursor: not-allowed;
    }
  }
}
