@import '../../styles/theme.less';

@small-padding-horizontal: 0;
@base-padding-horizontal: 9px;
@large-padding-horizontal: 12px;

@small-padding-vertical: 5px;
@base-padding-vertical: 9px;
@large-padding-vertical: 12px;

.button-size(@height; @padding-horizontal; @font-size; @border-radius) {
  @padding-vertical: max(
    (round(((@height - @font-size * @line-height-base) / 2) * 10) / 10) -
      @border-width-base,
    0
  );
  height: @height;
  padding: @padding-vertical @padding-horizontal;
  font-size: @font-size;
  border-radius: @border-radius;
}

.tbox-icon-button {
  background-color: transparent;
  border-radius: 4px;
  border-style: none;
  min-width: 24px;
  .button-size(
    @btn-height-base; @base-padding-horizontal; @font-size-base;
      @btn-border-radius-base
  );
  &-lg {
    .button-size(
      @btn-height-lg; @large-padding-horizontal; @btn-font-size-lg;
        @btn-border-radius-base
    );
  }
  &-sm {
    .button-size(
      @btn-height-sm; @small-padding-horizontal; @btn-font-size-sm;
        @btn-border-radius-sm
    );
  }
  &:hover {
    cursor: pointer;
    background: @btn-text-hover-bg;
  }
  &:focus {
    outline: none;
    background: @btn-text-hover-bg;
  }
  &.tbox-icon-button-primary {
    &:hover,
    &:focus {
      color: @primary-color;
      background-color: @primary-alpha;
    }
  }
  &.pure {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
  &.disabled {
    color: @gray-5;
    background-color: transparent;
    &:hover {
      cursor: not-allowed;
    }
  }
  &.circle {
    border-radius: 50%;
  }
}
