.simple-layout {
  .tobx-layout-edit__item-wrapper {
    &.sortable-ghost {
      .in-layout {
        display: block;
        background-color: cadetblue;
      }
      .in-store {
        display: none;
      }
    }
  }
  &-item {
    &:hover {
      cursor: pointer;
    }
    &.active {
      border: 1px dashed lightgray;
    }
  }
}
